
form {
    background-color: #F0FFF0;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 400px;
    margin: auto;
    
}
body{
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

legend {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000080;
    margin-bottom: 8px;
}

 label{
    font-weight: 500;
    color: #333;
   
   
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    transition: border 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #B0C4DE;
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    accent-color: #000080;
}

textarea {
    resize: none;
}

button {
    width: 75%;
    background: linear-gradient(to right,#1E90FF,#000080,#4381f5);
    border: none;
    padding: 10px 20px;
    border-radius: 17px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

button:hover {
    background: linear-gradient(to right, #1E90FF,#4381f5 );
}

@media (max-width: 500px) {
    form {
        width: 90%;
        padding: 25px;
    }
}
